
<%= link_to 'Back', root_path %>
<% @photos.each do |p| %>
<%= form_for Comment.new, :url => comments_path do |c| %>
<table>

    <tr>
      <td><%= p.user.name %></td>
    </tr>
    <tr>
      <td><%= image_tag p.img.url(:medium) %></td>
    </tr>
    <tr>
      <td><%= p.description %></td><td><%= link_to 'Delete', photo_path(p), :method => :delete %></td>
    </tr>
    <% p.comments.each do |c| %>
    <tr>
        <td><%= c.user.name %>&nbsp;&nbsp;&nbsp;:</td><td><%= c.content %></td>
    </tr>
    <% end %>

</table>
<tr>
    <%= c.hidden_field :photo_id, :value => p.id %>
    <%= c.text_field :content %>
    <%= c.submit 'Comment' %>
</tr>
<% end %>
<% end %>

